[View in Colaboratory](https://colab.research.google.com/github/bing-chai/python-coding-club/blob/master/PythonCodingClub-ColaboratoryNotebook.ipynb)

Section 1: Introduction, Chapter 1--4

In [35]:
#@title The first snippet
print("hello nerds!!!what nerds")
nerds = ['dan', 'josh', 'joel', 'bing', 'John']
for nerd in nerds:
  print(nerd + " is a nerd")

hello nerds!!!what nerds
dan is a nerd
josh is a nerd
joel is a nerd
bing is a nerd
John is a nerd

In [3]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name

message = "Hello, " + full_name.title() + "!"
print(message)

Hello, Ada Lovelace!

In [12]:
bicycles = ['trek', 'CANNONDALE', 'unicycle', 'Bianchi']
message = "My first bicycle was a " + bicycles[-1].title() + "."

print(message)

My first bicycle was a Bianchi.

In [10]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the reverse alphabetical list:")
print(sorted(cars, reverse=True))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the reverse alphabetical list:
['toyota', 'subaru', 'bmw', 'audi']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

Argh....this is text!

In [0]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " is too expensive for me.")

In [22]:
dimensions = (200, 50, 10, "aoaa")
print("Original dimensions:\n")
for anything in dimensions:
    print(anything)

for i in range(4,12,2):
  print(i)
  
dimensions = (400, 100)
print("\nModified dimensions:")
for j in dimensions:
    print(j*4)

Original dimensions:

200
50
10
aoaa
4
7
10

Modified dimensions:
1600
400

In [6]:
even_numbers = list(range(0,6,))
#start stop and step size
print(even_numbers)
print(list(range(1,6)))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [10]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:-1]  #make a copy of the list? slice operation

my_foods.append('cannoli') 
friend_foods.append('ice cream') 

print("My favorite foods are:")
print(my_foods)

print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'cannoli']

My friend's favorite foods are:
['pizza', 'falafel', 'ice cream']

In [11]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
    print(magician.title() + ", that was a great trick!")  
    print("I can't wait to see your next trick, " + magician.title() + ".\n") 
    
print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [0]:
n = input("How many players do you want in your team? Max 5 ")

players = ['charles', 'martina', 'michael', 'florence', 'eli'] 



print("Here are the first "+ str(n) +" players on my team:")
for player in players[0:int(n)]:
    print(player.title())

In [4]:
squares = [] #empty list

for value in range(1,11):
    square = value**2
    squares.append(square) #add square to squares
    
print(squares)
print(len(squares))
print(list(reversed(squares)))
print(squares[::-1])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
10
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

Chapters 5-8# New Section

In [37]:
age = 12

if age < 4:
    price = 0
elif age < 18:
    price = 5
elif age < 65:
    price = 10
elif age >= 65:
    price = 5

print("Your admission cost is $" + str(price) + ".")

Your admission cost is $5.